# WiFi Configuration

WIFI_NETWORKS = [
    {"ssid": "SSID1", "password": "PWD1"},
    # other networks here
    # {"ssid": "SSID2", "password": "PWD2"},
]

# Connection Timeout (seconds)
WIFI_TIMEOUT = 10
